<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
</head>
<body>
    <h1><%=kindOfDay%></h1>

    <ul>Buy Food</ul>
    <ul>cook Food</ul>
    <ul>Eat Food</ul>
    <% for( i=0;i<newListItems.length ;i++){ %>
        <ul><%= newListItems[i] %></ul>
    <% } %>
   

    <form action="/" method="post">
        <input type="text" name="newItem"autocomplete="off">
        <button type="submit">Add</button>
    </form>
</body>
</html>